.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.inner {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 40vh;
}

.item {
  flex: 1;
}

.about.container {
  background-repeat: no-repeat;
  background-size: 70%;
  background-image: url("../img/about.png");
  background-color: black;
  background-position: 50% 75%;
  color: white;
}

.about .inner {
  width: 30vw;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .about.container {
    background-size: 90%;
    background-position: 50% 75%;
  }
  .about .inner {
    width: 50vw;
  }
  .spacer {
    height: 30vh;
  }
}


@media (max-width: 800px) {
  .about.container {
    background-size: 100%;
  }
  .about .inner {
    width: 70vw;
  }
  .spacer {
    height: 20vh;
  }
}

.explore.container {
  background-image: url("../img/explore-products.png");
  background-size: cover;
  height: 40vh;
}

.exploreText {
  color: white;
}

.product.container {
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: 100%;
}

.pulsebot {
  background-image: url("../img/pulsebot.png");
}

.chainpulse {
  background-image: url("../img/chainpulse.png");
}

.product .inner {
  flex-direction: row;
  width: 70vw;
  margin-top: 200px;
  margin-bottom: 200px;
}

.product .item {
  flex-basis: 50%;
}


@media (max-width: 1200px) {
  .product .inner {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}


@media (max-width: 800px) {
  .product .inner {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.consulting.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-image: url("../img/consulting_rotated.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% -150%;
}

@media (max-width: 1200px) {
  .consulting.container {
    background-size: 75%;
    background-position: 100% -50%;
  }
}


@media (max-width: 800px) {
  .consulting.container {
    background-position: 100% 0%;
  }
}

.consulting .inner {
  width: 50vw;
  margin-top: 300px;
  margin-bottom: 100px;
}

.careers.container {
  background-color: black;
  color: white;
}

.careers .inner {
  width: 50vw;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact.container {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/contact.jpg");
}

.contact .inner {
  width: 50vw;
  margin-top: 100px;
  margin-bottom: 100px;
}
