.ar-button.white {
  color: white;
  border-color: white;
}

.ar-button.black {
  color: black;
  border-color: black;
}

.ar-button.solid {
  background-color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border: none;
  width: 175px;
  height: 40px;
}

.ar-button.outline {
  background: transparent;
  font-size: 18px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  width: 175px;
  height: 40px;
}

.ar-button.solid:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.ar-button.solid:active {
  border: 1px solid black;
}

.ar-button.outline:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.ar-button.outline:active {
  border: 1px solid black;
}

.ar-button.black.outline:hover {
  background-color: rgb(0, 0, 0, 0.25);
}

.ar-button.none {
  background: transparent;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
  border: none;
}

@media (min-width: 801px) {
  .ar-button.none {
    font-size: 30px;
  }  
}

.ar-button.none:hover {
  color: rgb(255, 255, 255, 0.5);
}

.ar-button.none:active {
  color: black;
}
