footer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  flex-direction: column;
}

#footer-links-container {
  display: flex;
  width: 70vw;
  flex-direction: row;
}

.footer-links-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  flex: 1;
}

.footer-links-col a {
  text-decoration: none;
  color: black;
}

.footer-link-header {
  font-weight: bold;
  margin-bottom: 10px;
}
