.heroVideoSection {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.heroVideo {
  background-image: url("../img/bgvid-poster-00001.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 150%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
  inset: 0% !important;
}

.hero-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.hero-column {
  flex-direction: column;
  flex: 1;
  margin: 5px;
}

.hero-column.column-2 .hero-item {
  flex-direction: column;
}

.row {
  width: 100%;
  flex: 1;
}

.column-1 .row.top,
.column-2 .row.middle {
  flex-basis: 15%;
}

.column-1 .row.middle,
.column-2 .row.top {
  flex-basis: 70%;
}

.column-1 .row.bottom,
.column-2 .row.bottom {
  flex-basis: 5%;
}

.column-1 .row.bottom {
  justify-content: space-around;
  width: 75%;
}

@media (max-width: 1800px) {
  .column-1 .row.bottom {
    width: 100%;
  }
}

.hero-container .column-1 .row.middle .logos-container {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-container .column-1 .row.middle .logos-item {
  flex-basis: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
}

.logos-item.chainpulse {
  background-image: url("../img/chainpulse.svg");
}

.logos-item.pulsebot {
  background-image: url("../img/pulsebot.svg");
}


@media (min-width: 801px) {
  .hero-container .column-2 .inner-1 .row.top {
    background-image: url("../img/Element_6.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 50%;
  }

  .hero-container .column-2 .inner-2 .row.top {
    background-image: url("../img/Element_5.svg");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 50%;
  }
  .hero-container .column-1 h1 {
    font-size: 50px;
  } 
}

.hero-container a {
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

.hero-container a:hover {
  color: rgb(255, 255, 255, 0.5);
}

.hero-contianer a:active {
  color: black;
}

@media (max-width: 800px) {
  .column-1 .row.bottom {
    flex-direction: column;
  }
  .column-1 .row.bottom .column {
    padding-top: 10px;
  }
}

.column-1 .row.bottom .column.left {
  flex-basis: 20%;
}

.column-1 .row.bottom .column.middle {
  flex-basis: 20%;
}

.column-1 .row.bottom .column.right {
  flex-basis: 30%;
}

.column-1 {
  flex-basis: 75%;
}

.column-2 {
  flex-basis: 25%;
}

.column-2 .inner-1 {
  height: 50%;
  padding-bottom: 5px;
}

.column-2 .inner-2 {
  height: 50%;
  padding-top: 5px;
}

.hero-item {
  display: flex;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 100px rgb(255,255,255,0.3);
  
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.column-2 .hero-item {
  height: 100%;
  align-items: flex-end;
}

.column-1.hero-item {
  padding: 100px 100px 50px 100px;
}

.column-2 div.hero-item {
  padding: 50px;
}

@media (max-width: 800px) {
  .inner-container {
    width: 90vw;
    flex-direction: column;
  }
  .column-1 {
    flex-basis: 33%;
  }
  .column-2 {
    flex-basis: 66%;
  }
  .column-1.hero-item {
    padding: 10px;
  }
  
  .column-2 div.hero-item {
    padding: 10px;
  }

  .column-1 .row.bottom {
    flex-basis: 15%;
    justify-content: space-between;
  }

  .column-1 .row.bottom .column.left {
    flex-basis: 40%;
  }

  .column-1 .row.bottom .column.middle {
    flex-basis: 40%;
  }

  .column-1 .row.bottom .column.right {
    flex-basis: 0%;
  }
}

