html {
  font-size: 100%;

  @media screen and (min-width: 30em) {
    html {
      font-size: 103%;
    }
  }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    html {
      font-size: 107%;
    }
  }
  @media screen and (min-width: 60em) {
    html {
      font-size: 110%;
    }
  }
}

body {
  margin: 0;
}
